<h2>CR #{{id}}: {{name}}</h2>
<h3>Pending Validation</h3>
<ul>
  <li>Author: {{author}}</li>
  <li>Description: {{description}}</li>
</ul>
<a href="{{link}}">Click here to review and validate</a></li>

