<lift:surround with="common-layout" at="content">
  <head_merge>
    <title>Rudder - Data sources</title>
    <link data-lift="with-cached-resource" href="/toserve/datasources/rudder-datasources.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" data-lift="with-cached-resource" src="/toserve/datasources/rudder-datasources.js"></script>
  </head_merge>
  <main class="rudder-template" id="datasource" ng-controller="datasourceCtrl">
  </main>
  <script>
    var hasWriteRights = false;
  </script>
  <lift:authz role="rule_write">
    <script>
      hasWriteRights = true;
    </script>
  </lift:authz>
  <script>
    $(document).ready(function(){
      var main = document.querySelector("main");
      var initValues = {
          contextPath : contextPath
        , hasWriteRights : hasWriteRights
      }
      var app = Elm.DataSources.init({ node: main, flags: initValues});

      app.ports.errorNotification.subscribe(function(str) {
        createErrorNotification(str)
      });
      app.ports.successNotification.subscribe(function(str) {
        createSuccessNotification(str)
      });
    })
  </script>
</lift:surround>

