
<xml:group>
  <component-body>

  <lift:authz role="administration_read">
   <head_merge>

   <meta charset="utf8" />
   <link rel="stylesheet" type="text/css" href="/toserve/branding/toasty.css" media="screen" data-lift="with-cached-resource">
   <link rel="stylesheet" type="text/css" href="/toserve/branding/media.css"  media="screen" data-lift="with-cached-resource">
   <script src="/toserve/branding/rudder-branding.js" data-lift="with-cached-resource"></script>

   </head_merge>
   <main></main>
   <script>
     var main         = document.querySelector("main");
     var flags        = { contextPath : contextPath };
     var app          = Elm.Branding.init({ node : main, flags: flags});
     app.ports.applyCss.subscribe(function(settings) {
       $('#headerBar > .background').css('background-color', settings.bgColor).css('color', settings.txtColor);
       $('#headerBar > .background > span').text(settings.labelTxt);
     });
   </script>
  </lift:authz>

  </component-body>
</xml:group>
