<html>
<body data-lift-content-id="branding-main">
  <div class="row" id="branding-main" data-lift="surround?with=common-layout;at=content">
   <head_merge>

   <title>Plugin Branding</title>
   <meta charset="utf8" />
   <link rel="stylesheet" type="text/css" href="/toserve/branding/toasty.css" media="screen" data-lift="with-cached-resource">
   <link rel="stylesheet" type="text/css" href="/toserve/branding/media.css"  media="screen" data-lift="with-cached-resource">
   <script src="/toserve/branding/branding.js" data-lift="with-cached-resource"></script>

   </head_merge>
   <main></main>
   <script>
     var main = document.querySelector("main");
     var flags = { contextPath : contextPath };
     var app  = Elm.Branding.init({ node : main, flags: flags});
     app.ports.applyCss.subscribe(function(settings) {
       var [bgColor, txtColor, txt] = settings;
       $('#headerBar > .background').css('background-color', bgColor).css('color', txtColor);
       $('#headerBar > .background > span').text(txt);
     });
   </script>
  </div>
</body>
</html>

