target*
.project*
.classpath*
.settings*
.scala_dependencies*
*logback.xml
.idea*
*.iml
.externalToolBuilders
files.txz
scripts.txz
*.rpkg
license.info
license.sign
*.pubkey
*.privkey
*.pyc
pom.xml
makefiles/m2_location.cache
#elm related stuff
**/elm-stuff/*
**/generated/*
#doc
/doc
rudder-plugins.adoc
plugin-doc-assets/
elm-upgrade*.log
.shellcheck
node_modules
*/*/*/gulpfile.mjs
**/toserve/*/*.css
**/toserve/*/*.scss