target*
.project*
.classpath*
.settings*
.scala_dependencies*
*logback.xml
.idea*
*.iml
.externalToolBuilders
files.txz
scripts.txz
*.rpkg
license.info
license.sign
*.pubkey
*.privkey
pom.xml
makefiles/m2_location.cache
rudder-plugins.adoc
