#user-token-app {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #333;
  font-size: 12px !important;
}

#user-token-app .help-block{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:11px !important;
}
#user-token-app .help-block > b {
  color:#333;
}

#user-token-app .text-success{
  color:#9ac735;
}

#user-token-app a.deleteToken, #user-token-app a.createToken{
  font-size: 14px !important;
  text-align:center;
  cursor:pointer !important;
  overflow:hidden;
  border-bottom-left-radius : 4px;
  border-bottom-right-radius: 4px;
}
#user-token-app a.deleteToken{
  color:#a94442 !important;
}
#user-token-app a.createToken{
  color:#8fb92a !important;
}
#user-token-app a.deleteToken:hover{
  background-color: #d9534f !important;
  color: #fff !important;
  border-bottom-color: #d9534f;
}

#user-token-app a.createToken:hover{
  background-color: #13BEB7 !important;
  color: #fff !important;
  border-bottom-color: #8fb92a;
}

#user-token-app a.no-token{
  text-align: center;
  font-style: italic;
}

#user-token-app .text-info {
  color:#777;
}

/* === API AUTHORIZATION === */
.acl-category .category-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
  margin: 15px 0 0 0;
  cursor: pointer;
}
.acl-category .toggle-checkbox:not(:checked) + .category-header{
  margin-bottom: 8px;
}
.acl-category .category-header .category-toggle-caret{
   flex: 0 1 40px;
   font-size: inherit;
}
.acl-category .category-header label{
  margin: 0;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: normal;
  flex: 1;
  padding: 4px 0;
  cursor: pointer;
}
.acl-category .category-header > label .badge.badge-secondary{
  padding: 4px 8px;
  border-radius: 4px !important;
}
.acl-category .category-header > label .badge.badge-secondary.empty{
  opacity: .4;
}
.acl-category .category-header .btn.btn-sm{
  margin-left: 6px;
  margin-top: -2px;
  min-width: 56px;
  font-size: inherit;
}

.acl-category .label-acl{
  display: flex;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background:#fff;
  cursor:pointer;
}

.acl-category .label-acl > label{
  display: flex;
  margin-bottom:0;
  justify-content: center;
  align-items : center;
  background: #f0f0f0;
  width: 30px;
}

.acl-category .label-acl > label input{
  margin: 0;
}

.acl-category .label-acl > div > h5 {
  margin-top: 0;
  margin-bottom: 4px;
}

.acl-category .label-acl > div{
  background-color:#fff;
  transition-duration:.2s;
  flex: 1;
  padding: 8px 10px;
}
.acl-category .label-acl:hover > div{
  background-color: #f8f9fc;
}

.acl-category .label-acl > div > h5 > b{
  font-weight:normal;
  text-transform:UPPERCASE;
  transition-duration:.2s;
  color: #999;
  display:inline-block;
  font-family:var(--font-mono);
  margin-right:2px;
  font-size: 0.9em
}
.acl-category .label-acl:hover > div > h5 > b.delete{
  color:#e25f5d;
}
.acl-category .label-acl:hover > div > h5 > b.get{
  color:#6db95b;
}
.acl-category .label-acl:hover > div > h5 > b.post{
  color:#609ade;
}
.acl-category .label-acl:hover > div > h5 > b.put{
  color:#935cc1;
}
.acl-category .label-acl > div > div{
  color: #738195;
  font-weight: normal;
  font-size: 12px;
}
