/*
*************************************************************************************
* Copyright 2018 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

/* add you plugin css in that file */


/* CONTAINER */
#plugin-main .inner-portlet{
  padding     : 0 15px;
  font-family : var(--font-sans);
  font-weight : 400;
  font-size   : 14px;
}

#auth-backends-app{
	padding-bottom : 30px;
}

#auth-backends-app h4 {
  margin         : 30px 0 15px 0;
  padding-bottom : 2px;
  border-bottom  : 1px solid #eaeaea;
}

#auth-backends-app h4 span{
  font-size : 12px;
  color     : #888;
}

#auth-backends-app .form-group{
  margin-bottom : 15px;
}

label{
  margin-bottom : 0;
}

.tag {
  background-color : #F0F0F0;
  border-radius    : 40px;
  padding          : 5px 16px 2px 16px;
  border           : 1px solid #dedede;
  float            : left;
  line-height      : normal;
  margin-right     : 5px;
  margin-top       : 5px;
}

.key {
  display     : inline-block;
  font-weight : 700;
}

.sep{
  width      : 20px;
  display    : inline-block;
  text-align : center;
}

.val {
  display : inline-block;
}

.text-info{
  color : #227f9d;
}

.text-info:before{
  content : "# ";
}

