<xml:group>
  <component-body>

	<head_merge>
	  <link rel="stylesheet" type="text/css" href="/toserve/changevalidation/change-validation.css" media="screen"
	  data-lift="with-cached-resource">
	  <script src="/toserve/changevalidation/change-validation.js" data-lift="with-cached-resource"></script>
	  <script src="/toserve/changevalidation/rudder-changevalidationsettings.js" data-lift="with-cached-resource"></script>
	</head_merge>

	<div class="d-flex h-100">

	  <div class="sidebar-left">
		<div class="sidebar-body" id="navbar-changevalidation">
		  <ul class="nav nav-tabs"></ul>
		</div>
	  </div>

	  <div class="template-main h-100">
		<div class="main-container">

			  <div id="changeValidationSettings"></div>

			  <script data-lift="with-nonce">
				  var hasWriteRights = false;
			  </script>
			  <lift:authz role="administration_write">
				  <script data-lift="with-nonce">
					  hasWriteRights = true;
				  </script>
			  </lift:authz>

			  <script data-lift="with-nonce">
				  $(document).ready(function () {
                    const cvs = document.getElementById("changeValidationSettings");
                    const initValues = {
                      contextPath: contextPath,
                      hasWriteRights: hasWriteRights
                    };
                    const app = Elm.ChangeValidationSettings.init({node: cvs, flags: initValues});
                    app.ports.successNotification.subscribe(function (str) {
                      createSuccessNotification(str)
                    });
                    app.ports.errorNotification.subscribe(function (str) {
                      createErrorNotification(str)
                    });
                    app.ports.copyToClipboard.subscribe(function (str) {
                      copy(str)
                    });
                    buildScrollSpyNav("navbar-changevalidation", "changeValidationTab");
                  });
			  </script>

		</div>
	  </div>
	</div>
  </component-body>
</xml:group>
