<!doctype html>
<html>
<head>
  <meta charset="utf8" />
  <!-- everything here will be ignored and replaced by common-layout -->
</head>
<body data-lift-content-id="plugin-main">
  <div id="plugin-main" data-lift="surround?with=common-layout;at=content">
    <head_merge>
      <title>Rudder :: Change Validation</title>
      <link rel="stylesheet" type="text/css" href="/toserve/changevalidation/change-validation.css" media="screen" data-lift="with-cached-resource">
      <link rel="stylesheet" type="text/css" href="/toserve/changevalidation/toasty.css" media="screen" data-lift="with-cached-resource">
      <script src="/toserve/changevalidation/change-validation.js" data-lift="with-cached-resource"></script>
      <script src="/toserve/changevalidation/supervised-targets.js" data-lift="with-cached-resource"></script>
      <script src="/toserve/changevalidation/WorkflowUsers.js" data-lift="with-cached-resource"></script>
    </head_merge>

    <div class="lift:ChangeValidationSettings.activation" id="workflowForm">
      <div class="inner-portlet">
        <div class="page-title">Change Validation Status</div>
        <div class="portlet-content">
          <div class="col-xs-12 callout-fade callout-warning">
            <div class="marker">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <p>
              If enabled, all change to configuration (Directives, Rules, Groups and Parameters) will be submitted for validation via a Change Request based on node targeting (configured below).<br/>
              A new Change Request will enter the <b>Pending validation</b> status, then can be moved to <b>Pending deployment</b> (approved but not yet deployed) or <b>Deployed</b> (approved and deployed) statuses.
            </p>
            <p>
              If you have the user management plugin, only users with the <b>validator</b> or <b>deployer</b> roles are authorized to perform
              these steps (see <i><strong>/opt/rudder/etc/rudder-users.xml</strong></i>).
            </p>
            <p>
              If disabled or if the change is not submitted to validation, the configuration will be immediately deployed.
            </p>
          </div>
          <form class="lift:form.ajax">
            <ul>
              <li class="rudder-form">
                <div class="input-group">
                  <label class="input-group-addon" for="workflowEnabled">
                    <input id="workflowEnabled" type="checkbox">
                    <label for="workflowEnabled" class="label-radio">
                      <span class="ion ion-checkmark-round"></span>
                    </label>
                    <span class="ion ion-checkmark-round check-icon"></span>
                  </label>
                  <label class="form-control" for="workflowEnabled">
                    Enable Change Requests
                  </label>
                </div>
              </li>
              <li class="rudder-form">
                <div class="input-group">
                  <label class="input-group-addon" for="selfVal">
                    <input id="selfVal" type="checkbox">
                    <label for="selfVal" class="label-radio">
                      <span class="ion ion-checkmark-round"></span>
                    </label>
                    <span class="ion ion-checkmark-round check-icon"></span>
                  </label>
                  <label class="form-control" for="selfVal">
                    Allow self validation
                    <span id="selfValTooltip"></span>
                  </label>
                </div>
              </li>
              <li class="rudder-form">
                <div class="input-group">
                  <label class="input-group-addon" for="selfDep">
                    <input id="selfDep" type="checkbox">
                    <label for="selfDep" class="label-radio">
                      <span class="ion ion-checkmark-round"></span>
                    </label>
                    <span class="ion ion-checkmark-round check-icon"></span>
                  </label>
                  <label class="form-control" for="selfDep">
                    Allow self deployment
                    <span id="selfDepTooltip"></span>
                  </label>
                </div>
              </li>
            </ul>
            <lift:authz role="administration_write">
              <input type="submit" value="Reload" id="workflowSubmit"/>
              <span class="lift:Msg?id=updateWorkflow">[messages]</span>
            </lift:authz>
          </form>
        </div>
      </div>
    </div>

    <div class="inner-portlet">
      <div class="page-title">Configure change request triggers</div>
      <div class="portlet-content">
        <div class="col-xs-12 callout-fade callout-info">
          <div class="marker">
            <span class="glyphicon glyphicon-info-sign"></span>
          </div>
          <p>
            By default, change request are created for all users. You can change when a change request
            is created with below options:
          </p>
          <ul>
            <li>exempt some users from validation;</li>
            <li>trigger change request only for changes impacting nodes belonging to some supervised groups;</li>
          </ul>
          <p>Be careful: a change request is created when <b>at least one</b> predicate matches, so an exempted user
            still need a change request to modify a node from a supervised group.</p>
        </div>
      </div>

      <div class="page-subtitle">Configure Users with change validation</div>
      <div class="portlet-content">
        <div class="col-xs-12 callout-fade callout-info">
          <div class="marker">
            <span class="glyphicon glyphicon-info-sign"></span>
          </div>
          <p>
            Any change done by a Validated User will be automaticaly deployed without validation needed by another user.
          </p>
        </div>
        <div id="WorkflowUsers-app">
          <div id="validated-users-management"/>
        </div>
      </div>

      <div class="page-subtitle">Configure Groups with Change Validations</div>
      <div class="portlet-content">
        <div class="col-xs-12">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <p>
              Change validation are enable for <b>any</b> change that would impact a node belonging to one of the chosen groups below.
              Be careful: a change on one another group
            </p>
            <p>
              The supervised changes are:
            <ul>
              <li>any change in a global parameter, as these changes can have side effects spreading technique code,</li>
              <li>any modification in one of the supervised groups,</li>
              <li>any change in a rule which targets a node which belong to a group marked as supervised,</li>
              <li>any change in a directive used in one of the previous rules.</li>
            </ul>
            </p>
            <p>
              Changes in techniques are not subjected to change validation, nor are changes resulting from an archive import.
            </p>
          </div>
        </div>
        <div id="supervised-targets-app">
          <div id="list-groups-change-validation"/>
        </div>
      </div>

      <script>
          var main = document.getElementById("list-groups-change-validation");
          var wu = document.getElementById("validated-users-management");
          var initValues = {
             contextPath : contextPath
          };
          var app  = Elm.SupervisedTargets.init({ node: main,  flags: initValues});
          var app2 = Elm.WorkflowUsers.init({ node: wu, flags: initValues})
      </script>

    </div>
  </div>

</body>
</html>

