<lift:surround with="common-layout" at="content">

<head_merge>
	<title>Rudder - Change Validation</title>
	<link rel="stylesheet" type="text/css" href="/toserve/changevalidation/change-validation.css" media="screen" data-lift="with-cached-resource">
	<script src="/toserve/changevalidation/change-validation.js" data-lift="with-cached-resource"></script>
    <script src="/toserve/changevalidation/rudder-changerequestdetails.js" data-lift="with-cached-resource"></script>
</head_merge>

<div class="rudder-template">
  <div id="changeRequestDetails">hello</div>

  <script data-lift="with-nonce">
    var hasValidatorWriteRights = false;
    var hasDeployerWriteRights = false;
  </script>
  <lift:authz role="deployer_write">
    <script data-lift="with-nonce">
      hasDeployerWriteRights = true;
    </script>
  </lift:authz>
  <lift:authz role="deployer_edit">
    <script data-lift="with-nonce">
      hasDeployerWriteRights = true;
    </script>
  </lift:authz>
  <lift:authz role="validator_write">
    <script data-lift="with-nonce">
      hasValidatorWriteRights = true;
    </script>
  </lift:authz>
  <lift:authz role="validator_edit">
    <script data-lift="with-nonce">
      hasValidatorWriteRights = true;
    </script>
  </lift:authz>

  <script data-lift="with-nonce">
    $(document).ready(function () {
      var main = document.getElementById("changeRequestDetails");
      var initValues = {
        contextPath: contextPath,
        hasValidatorWriteRights : hasValidatorWriteRights,
        hasDeployerWriteRights : hasDeployerWriteRights
      };

      var app = Elm.ChangeRequestDetails.init({node: main, flags: initValues});
      app.ports.errorNotification.subscribe(function (str) {
        createErrorNotification(str)
      });
      app.ports.successNotification.subscribe(function(str) {
        createSuccessNotification(str)
      });

      var path = window.location.pathname.split("/")
      if (path.length > 2) {
        var id = path[path.length -1];
        app.ports.readUrl.send(id);
      }
    });
  </script>
</div>

<div>
  <div id="successWorkflow" class="modal fade" data-bs-keyboard="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="text-center">
            Change request state has been changed to <span id="newStatus">next status</span>
          </h5>
          <div id="successDialogContent"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
</lift:surround>

