<lift:surround with="common-layout" at="content">

<head_merge>
	<title>Rudder - Change Validation</title>
	<link rel="stylesheet" type="text/css" href="/toserve/changevalidation/change-validation.css" media="screen" data-lift="with-cached-resource">
	<script src="/toserve/changevalidation/change-validation.js" data-lift="with-cached-resource"></script>
</head_merge>

<div class="rudder-template">
  <div class="one-col">
	<div class="main-header">
	  <div class="header-title">
	    <h1>
		  <span>Change Requests</span>
		</h1>
	  </div>
	</div>
    <div class="one-col-main">
      <div class="template-main">
	    <div class="main-container">

		  <div class="main-details">
			<div data-lift="lazy-load?template=lazy-load-spinner">
				<div class="lift:ChangeRequestManagement.filter">
				  <div id="content">
					<div id="nameFilter">
					  <div id="actualFilter"></div>
					</div>
				  </div>
				</div>
		    </div>

			<div data-lift="lazy-load?template=lazy-load-spinner">
			  <div class="lift:ChangeRequestManagement.display">
			    <table id="changeRequestTable"></table>
			  </div>
			</div>
     	  </div>

		</div>
	  </div>
	</div>
  </div>
</div>
</lift:surround>

