/*
*************************************************************************************
* Copyright 2018 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
/* === OVERRIDE RUDDER TEMPLATE === */
.rudder-template > .one-col{
  flex: 1;
}
.template-main{
  flex-basis : initial !important;
  flex: auto !important;
}
.template-sidebar.sidebar-left{
  box-shadow : none !important;
  flex-basis : initial !important;
  flex: initial !important;
}
.rudder-template .one-col .template-main .main-details {
  padding-bottom: 0px;
}
/* ========= */
ul.clipboard-list > li {
  padding: 6px 12px;
  border: 1px solid #d0d0d0;
  border-bottom: none;
}
ul.clipboard-list > li:hover {
  background-color: #f2f8ff;
}
ul.clipboard-list > li:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul.clipboard-list > li:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #d0d0d0;
}


#actualFilter > form{
  display: flex;
  align-items: flex-start;
}
#actualFilter > form select.form-control{
  width: auto;
  display: inline-block;
  margin: 0px 0px 20px 10px;
  min-width: 185px;
  font-size: 14px;
}
#actualFilter > form select.form-control[multiple]{
  height: auto;
}
#actualFilter > form select.form-control[multiple] option{
  padding: 2px 0;
}
#actualFilter > form label{
  padding: 6px 0;
  margin-bottom: 0;
}
#actualFilter > form select + .btn.btn-expand{
  height: 34px;
  width: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}
#actualFilter > form select + .btn.btn-expand:after {
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  color: #738195;
}
#actualFilter > form select + .btn.btn-less:after {
  content: "\f068";
}
#actualFilter > form select + .btn.btn-more:after {
  content: "\f067";
}
#detailsForm form{
  margin: 0 -15px;
}
#changesContainer{
  border: 2px solid #E5E5E5;
  margin-top: 20px;
  display: flex;
}
#changesContainer > div:first-child{
  width: 250px;
}
#changesContainer > div:last-child{
  flex: 1;
  border-left: 2px solid #E5E5E5;
}
#diff {
  padding: 10px;
}
.evlogviewpad > li {
  margin-bottom: 4px;
}
.modal .modal-dialog {
  margin-top: 110px;
}

.expand .ui-button-text{
  padding:1px;
  line-height:1;
}
.dataTable tr > td.link a {
  text-decoration: none !important;
  display: block;
  position:relative;
}
.dataTable tr > td.link a i.fa{
  float:right;
  position:relative;
  visibility:hidden;
  color:#555;
  top:1px;
}
.dataTable tr > td.link a svg{
  width: 20px;
  position: absolute;
  right:2px;
  top: -3px;
  fill: #555;
  visibility:hidden;
}
.dataTable tr > td.link a:hover i.fa,.dataTable tr > td.link a:hover svg{
  visibility:visible;
  -webkit-animation: bounceH .8s ease infinite;
  -moz-animation:    bounceH .8s ease infinite;
  -o-animation:      bounceH .8s ease infinite;
  animation:         bounceH .8s ease infinite;
}

#backButton{
  box-shadow:none !important;
}

@-webkit-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@-moz-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@-o-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}

#plugin-main .inner-portlet {
  padding: 5px 15px 40px 15px;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* --- PANEL --- */
#supervised-targets-app .panel-group{
  margin-bottom: 0;
}

#supervised-targets-app .panel-footer{
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-top: none;
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 10px;
}

#supervised-targets-app .panel-footer .btn{
  min-width: 95px;
}

#supervised-targets-app .panel-default > .panel-heading {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  border-bottom : 1px solid #ededed;
}

#supervised-targets-app .panel-group .panel-group:last-of-type > .panel > .panel-heading{
  border-bottom: none;
}
#supervised-targets-app .panel-group .panel-group:last-of-type > .panel > .panel-heading + .panel-collapse{
  border-top : 1px solid #ededed;
}

#supervised-targets-app .panel-default > .panel-heading a{
  display: block;
  position: relative;
  padding: 10px 15px 10px 42px;
  color: #36474E;
  transition-duration: .2s;
}

#supervised-targets-app .panel-default > .panel-heading a:hover{
  color: #337ab7;
}

#supervised-targets-app .panel-group .panel-group .panel-default > .panel-heading a:before,
#supervised-targets-app .panel-group .list-group .list-group-item .node-name:before {
  content: "";
  position: absolute;
  top: 18px;
  left: -21px;
  width: 21px;
  border-top: 1px solid #ddd;
}

#supervised-targets-app .panel-default > .panel-heading a .fa,
#supervised-targets-app .list-group .list-group-item .node-name .fa{
  color: #bbb !important;
  position: absolute;
  left: 15px;
}

#supervised-targets-app .panel{
  background-color: #fdfdfd;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#supervised-targets-app .panel-group .panel-group,
#supervised-targets-app .panel-group .list-group{
  padding-left: 42px;
  margin-bottom: 0;
  position: relative;
}

#supervised-targets-app .panel-group .panel-group:before,
#supervised-targets-app .panel-group .list-group:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #ddd;
  left: 21px;
}

#supervised-targets-app .panel-group .panel-group .panel{
  border-radius : 0;
  border-right  : none;
  border-bottom : none;
  border-top    : none;
  box-shadow    : none;
  border-left   : none;
}

#supervised-targets-app .panel-group .panel-group .panel-heading{
  border-left: 1px solid #ededed;
}

#supervised-targets-app .panel-group .panel-group:last-child .panel-heading{
  border-bottom: none;
}

#supervised-targets-app .panel-group .list-group{
  border-top: none;
}

#supervised-targets-app .list-group .list-group-item{
  padding: 0;
  border-left: 1px solid #ededed;
  border-color: #ededed;
}

#supervised-targets-app .list-group .list-group-item label.node{
  display: block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  padding-right: 50px;
  background-color: #fff;
  transition-duration: .2s;
}

#supervised-targets-app .list-group .list-group-item label.node:hover{
  background-color: #f7f7f7;
}

#supervised-targets-app .list-group .list-group-item label.node:hover .node-name{
  color: #337ab7;
}

#supervised-targets-app .panel-group .panel-group .list-group .list-group-item:last-child .node {
  border-bottom: 1px solid #ededed;
}

#supervised-targets-app .list-group .list-group-item .node-name,
#supervised-targets-app .list-group .list-group-item .node-desc{
  background-color: #fff;
  border-right: 1px solid #ededed;
}

#supervised-targets-app .list-group .list-group-item .node-name{
  padding: 6px 15px 2px 42px;
  position: relative;
  font-size: 16px;
  color: #36474E;
  transition-duration: .2s;
  display: flex;
  align-items: center;
}

#supervised-targets-app .list-group .list-group-item .node-desc{
  padding: 2px 15px 6px 42px;
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

#supervised-targets-app .list-group .list-group-item .node-check{
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid rgb(198, 200, 201);
  text-align: center;
  line-height: 39px;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 3px;
}

#supervised-targets-app .node-check .ion{
  font-size: 12px;
  top: -10px;
  position: relative;
  visibility : hidden;
  animation  : opacity-0 .1s linear forwards;
  color      : #222D32;
}



#supervised-targets-app .node-check input{
  display: none;
}

#supervised-targets-app .node-check input[type=checkbox]:checked + .ion {
  visibility: visible;
  animation: opacity-1 .1s linear forwards;
}

#supervised-targets-app .toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  border-top: 1px solid #e2e2e2;
  background-color: #fff;
  width: calc(100% - 230px);
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
body.sidebar-mini.sidebar-collapse #supervised-targets-app .toolbar {
  width: calc(100% - 50px);
}

#CRLastAction {
  font-size: 15px;
  margin-bottom:5px;
  font-style:italic;
  color: #777;
}
#backButton > span{
  margin-right: 5px;
  position: relative;
}
#backButton:hover{
  color: #23527c;
}
#backButton:hover > span{
  -webkit-animation: bounceH .8s ease infinite;
  -moz-animation:    bounceH .8s ease infinite;
  -o-animation:      bounceH .8s ease infinite;
  animation:         bounceH .8s ease infinite;
}

#changeRequestHeader .header-title > div > #CRStatus {
  background-color: #eeeeee;
  min-width: 160px;
  line-height: 50px;
  min-height: 50px;
  color: #36474E;
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: default;
  text-align: center;
  position: relative;
  margin-top: -15px;
  margin-right: 20px;
}
#changeRequestHeader .header-title > div > #CRStatus:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 20px solid #eeeeee;
  left: 0;
  top: 50px;
}
#CRSave{
  margin-top: 10px;
}
#changeRequestDetails .alert.alert-danger {
  margin-bottom: 0px;
}

/********************************
*         Validated User        *
*********************************/

.box-header {
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
  padding                 : 4px;
  margin                  : 0px;
  text-align              : center;
  background-color        : #eee;
  border-width            : 1px;
  border-style            : solid;
  border-color            : #d0d0d0;
  border-bottom           : 0;
}

.box-footer {
  border-bottom-left-radius  : 4px;
  border-bottom-right-radius : 4px;
  padding-left               : 5px;
  padding-right              : 5px;
  padding-top                : 0;
  margin                     : 0px;
  border-width               : 1px;
  border-style               : solid;
  border-color               : #d0d0d0;
  border-top                 : 0;
  padding-bottom             : 0;
}

.box-users-container {
  height   : 275px;
  width    : 270px;
  position : relative;
}

.footer-infos {
  opacity        : 0.6;
  filter         : Alpha(opacity=60);
  font-size      : 12px;
  vertical-align : middle
}

#nb-selected {
  float      : right;
  margin-top : 4px;
}

.all-items {
  float        : left;
  margin-right : 5px;
  margin-top   : 0px;
}

#nb-items {
  float      : left;
  margin-top : 4px;
}

.action-button-container {
  float       : right;
  padding-top : 15px;
}

.btn-action-workflow {
  height : 35px;
  width  : 70px;
}

#delete-user {
  float      : right;
  margin-top : 15px;
}

#save-workflow {
  margin-left : 5px;
}

#cancel-workflow {
  margin-right :5px;
}

.box-users-content {
  border-width : 1px;
  border-style : solid;
  border-color : #d0d0d0;
  overflow-y   : auto;
  height       : 250px;
  text-align   : left;
}

.li-box-content-user {
  margin-left : 15px;
}

.box-input-element[type='checkbox'] {
  margin-right : 8px;
}

.center-box-element {
  vertical-align : middle;
  display        : inline-block;
}

.input-icon {
  margin-left : 20px;
  cursor: help;
  color: #999;

}

.input-icon:hover {
    transition-duration: .2s;
    color: #555;
}

.users-clickable {
  cursor : pointer;
}

.users {
  cursor: default;
}

#normal-user {
  background-color : #f2f8ff;
}

#moved-user {
  background-color : #d1f8c9;
}

#not-in-file-user {
  background-color : #faeae9;
}

#normal-user:hover  {
  background-color : #9bd0dd;
}

.normal-checked {
  background-color : #9bd0dd;
}

#moved-user:hover {
  background-color : #bae69d;
}

.moved-checked {
  background-color : #9ae37f;
}

#not-in-file-user:hover {
  background-color : #e8929a;
}

.not-in-file-checked  {
  background-color : #e8929a;
}

.arrows-validation {
  margin : 70px;
}

#normal-user:focus {
  color: red;
}

.circle-edit {
  width            : 36px;
  height           : 36px;
  border-radius    : 80px;
  background-color : #3c8dbc;
  text-align       : center;
  overflow         : hidden;
  padding          : 3px;
  position         : absolute;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  bottom           : -15px;
  right            : -15px;
  box-shadow       : 0 3px 5px 0 rgba(0,0,0,0.2);
}

.circle-edit:hover {
  animation : shadow-pulse-big 1s infinite;
  cursor    : pointer;
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.edit-icon-validated-user {
  display        : inline-block;
  font-size      : 18px;
  color          : white;
  text-align     : center;
  vertical-align : bottom;
}

.empty-validated-user {
  color          : #cdcdcd;
  font-size      : 40px;
  display        : inline-block;
  text-align     : center;
  vertical-align : bottom;
  margin-top     : 50px;
}

.empty-box-msg {
  font-family : 'PT Sans', sans-serif;
  font-size   : 20px;
  margin-top: 16px;
}
