/*
*************************************************************************************
* Copyright 2018 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

/* add you plugin css in that file */

#plugin-main .inner-portlet {
  padding: 0 15px;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#user-management-app h3 > button{
  margin-left: 12px;
}

#user-management-app h3 > button > span{
  margin-left: 6px;
}

#user-management-app .user-list{
  margin: 15px 0 30px 0;
}

#user-management-app .user{
  float: left;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background: #f7f7f7;
  padding: 0 10px 10px 10px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.07);
  overflow: hidden;
}

#user-management-app .user h4 {
  position: relative;
  margin: 0 0 10px 0;
  padding: 20px 0 12px 80px;
  min-height: 45px;
  border-bottom: 1px solid #eaeaea;
  font-size: 22px;
  background-color: #fff;
}

#user-management-app .user h4 .user-icon {
  font-size: 50px;
  position: absolute;
  top: 2px;
  left: 15px;
  color: #ccc;
}

.auth{
  background-color : #fff;
  border-radius    : 40px;
  padding          : 5px 16px 2px 16px;
  border           : 1px solid #dedede;
  float            : left;
  line-height      : normal;
  margin           : 0 6px 6px 0;
}

.user h6{
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
  position: relative;
  z-index: 5;
  float: left;
  width: 100%
}

.user .list-auths{
  float: left;
  width: 100%;
}

.user h6 span{
  background-color: #f7f7f7;
  padding-right: 10px;
}

.user h6:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #e4e4e4;
  top: 5px;
  z-index: -1;
}