<!doctype html>
<html>
<head>
  <meta charset="utf8" />
  <!-- everything here will be ignored and replaced by common-layout -->
</head>
<body data-lift-content-id="plugin-main">
  <div id="plugin-main" data-lift="surround?with=common-layout;at=content">
    <head_merge>
      <title>Plugin :: User Management</title>
      <link rel="stylesheet" type="text/css" href="/toserve/usermanagement/user-management.css" media="screen" data-lift="with-cached-resource">
      <script src="/toserve/usermanagement/user-management.js" data-lift="with-cached-resource"></script>
    </head_merge>


    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix arrondis">
      <div class="inner-portlet">
        <div class="page-title">Authentication Backends Configuration</div>
        <div class="portlet-content">
          <div class="col-xs-12 callout-fade callout-warning">
            <div class="marker">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <p>
              This page present to you the current authentication backends used by Rudder
              to allow users to log in into Rudder.
            </p>
            <p>
              You can can change these parameter by editing <span>/opt/rudder/etc/rudder-web.properties</span>. The plugin documentation is available <a href="https://docs.rudder.io/reference/current/plugins/">in Rudder documentation</a>.
            </p>
          </div>

          <div id="user-management-app"></div>
          <script>
            var node = document.getElementById("user-management-app");
            var app  = Elm.UserManagement.embed(node, { contextPath: contextPath});
          </script>
        </div>
      </div>
    </div>

  </div>
</body>
</html>

