<!doctype html>
<html>
<head>
  <meta charset="utf8" />
  <!-- everything here will be ignored and replaced by common-layout -->
</head>
<body data-lift-content-id="plugin-main">
  <div id="plugin-main" data-lift="surround?with=common-layout;at=content">
    <head_merge>
      <title>Plugin :: User Management</title>
      <link rel="stylesheet" type="text/css" href="/toserve/usermanagement/user-management.css" media="screen" data-lift="with-cached-resource">
      <link rel="stylesheet" type="text/css" href="/toserve/usermanagement/toasty.css" media="screen" data-lift="with-cached-resource">
      <script src="/toserve/usermanagement/rudder-usermanagement.js" data-lift="with-cached-resource"></script>
    </head_merge>


    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix arrondis">
      <div class="inner-portlet">

        <div class="portlet-content">
          <div id="user-management-app">
            <div id="user-management-content"/>
          </div>
          <div data-lift="UserManagementSnippet.render"/>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

